<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>log4jExposeWebAppRoot</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/jrspc-ws-servlet.xml,			
			/WEB-INF/config/application.xml
		</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>jrspc-ws</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jrspc-ws</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>webSocketConnector</servlet-name>
    <servlet-class>habr.metalfire.ws.WebSocketConnectorServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>webSocketConnector</servlet-name>
    <url-pattern>/ws</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>  
  
<!--   <security-constraint>
	<web-resource-collection>
		<web-resource-name>Entire Application</web-resource-name>
			<url-pattern>/*</url-pattern>		
		</web-resource-collection>	
	    <user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint> 
  </security-constraint>   -->
</web-app>